:root {
    --bg-color: #f6f1ec;
    --text-color: #333;
}
body {
  width: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;

}
section {
  width: 100%;
  margin: auto;
  padding: 60px 20px;
}
.dark {
     background-color:var(--text-color);
     color: var(--bg-color);
}
/* background-image */

/* الخلفية */
.bg-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* خلف المحتوى */
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header button{
  width: 150px;
  background-color: #e32026;
  color: var(--bg-color);
}

.header button:hover{
  width: 150px;
  background-color: var(--bg-color);
  color: #e32026;
}
.pdfBtn{

}
/* المحتوى */
.content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 100px 20px;
}
.home{
  width: 100%;
  margin-top: 0;
  padding: 60px;
  color: #fff;
  text-align: center;
}
.home .logo{

}
.home .logo img{
  width:40%
}
.home .logo p{
  color: #232a61;
}
.home-story{
  width: 100% !important;
background-color: #b4b3b37a;
 
}
.home-story p{
  text-align: start;
  color:#232a61;
  padding: 10px;
  border-radius: 5px;
  line-height: 30px;
}
.home-story img{
  width: 100%;
}
header h1 {
  font-size: 64px;
  margin: 0;
  font-family: 'Pacifico', cursive;
}
header p {
  font-size: 22px;
  margin-top: 10px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #006d6f;
}
.story {

  margin: auto;
  text-align: center;

}
.category {
  margin-top: 60px;
}
.category h3 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #006d6f;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}
.card {
  background: transparent !important;
  border-radius: 10px !important;

  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}
.card:hover {
  transform: translateY(-6px);
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  padding: 10px;
}
.card h4 {
  margin: 15px 0 10px;
  font-size: 20px;
}
.card p {
  font-size: 14px;

}
.card-info{
  background-color: #de282b   !important;
  border-radius: 10px;

  color: white;
}
@media (max-width: 576px) {
 .card img {
  
  height: auto;
 
}
 
}
 @media (max-width:420px) {
  .card {
      padding: 5px;
   }
 }
footer {
  text-align: center;
  padding: 30px;
  font-size: 14px;
}

/* new  */
    .category.section {
        transition: all 1s ease;
    }
    /* قسم واحد يظهر في نفس المكان */
    .category.section.absolute {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

.category.section {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}

.category.section.fade-out {
    opacity: 0;
    transform: translateY(-20px); /* يتحرك لأعلى أثناء الاختفاء */
}

.category.section.fade-in {
    opacity: 0;
    transform: translateY(20px); /* يبدأ من الأسفل */
    animation: fadeInAnim 0.5s forwards;
}

@keyframes fadeInAnim {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contact us */
.contact-section{



}
.contact{

  width: 100%;
  padding: 20px 0;
}

.socail{
  text-align: center;
}
.socail-card{
  width: 60%;
    background-color:#e32026;
    padding: 5px 10px;
    border-radius: 5px;
 margin: auto;
 border-radius: 10px;
}
.socail-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 60%;
  
  margin: auto;
}
.socail-media p{
color: white !important;
}
 .socail-media a {
  color: var(--bg-color) !important;
  margin-top: 10px;
  
 } 
.socail-card img{
  width: 40px ;
  height: 40px;
  margin-right: 30px;
}
.email1,.email2{
   
    border-radius: 10px;

}
.eml img{
  

}
.socail-card a{
  font-size: 20px !important;
  margin: 5px 0px;
  text-align: start;
  text-decoration: none;
  color: white;
}
.wh,.eml{
  display: flex;
  align-items: center;

  margin: 5px;

}
.eml{

}
.wh p, .eml p{
  padding: 0;
  margin: 0;
  color: var(--bg-color);
  font-size: 20px;
}
/*  */

@media (max-width:575px){
.socail-card a{
  font-size: 20px !important;


  box-shadow: 0px 0px 5px 0px #83a184;
  border-radius: 5px;
  width: 90%;
  margin: 10px;
  text-align: start;
}
}

/* map */
.map-section {
    width: 100%;
    height: 400px;

}
.map-section iframe {
    width: 100%;
    height: 100%;
    border: 0;
        border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
/* Overlay */
.map-overlay {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
 
}

.map-overlay:hover {

}

.map-text {
  display: flex;
  align-items: center;
  
  width: 200px;
    background-color:#e32026;
    padding: 5px 10px;
    border-radius: 5px;
}
.map-text i {
  padding-right: 10px;
}
.map-text h3 {

}

.map-text p {
    margin: 0;
    font-size: 14px;
}